@import 'styles/Variables';

.card {
  display: flex;
  flex-direction: column;
}
.card__image {
  margin-bottom: 26px;
  width: 394px;
  height: 360px;
  object-fit: contain;
  object-position: center;
}
.card__category {
  margin-bottom: 14px;
  color: #afadb5;
  font-size: $text-sm;
}
.card__title {
  color: #151411;
  font-weight: 700;
  margin-bottom: 6px;
  max-width: 360px;
}
.card__subtitle {
  font-size: 18px;
  color: #afadb5;
  margin-bottom: 18px;
  @include verticalEllipsis(250px);
}
.card__content {
  color: $dark;
  font-size: 24px;
  font-weight: 700;
}
@media only screen and (max-width: 600px) {
  .card__image {
    width: 156px;
    height: 130px;
  }
  .card__category {
    font-size: 12px;
  }
  .card__title {
    font-size: 14px;
    @include verticalEllipsis(150px);
  }
  .card__subtitle {
    @include verticalEllipsis(150px);
    font-size: 12px;
  }
}
