@import 'styles/Variables';
.list {
  flex: 1;
  &-item {
    padding: 15px 0;
    border-bottom: 1px solid $gray;
    display: flex;
    justify-content: space-between;
    &__img {
      width: 68px;
      height: 100px;
      object-fit: contain;
      object-position: center;
    }
    &__info {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    &__title {
      @include verticalEllipsis(220px);
      color: $dark;
    }
    &__actions {
      display: flex;
      align-items: center;
      gap: 40px;
    }
    &__price {
      font-weight: 700;
      color: $dark;
      width: 90px;
    }
    &__count {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 30px;
      .count__amount {
        width: 75px;
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 2px solid #f3f3f3;
        border-bottom: 2px solid #f3f3f3;
      }
      .count__btn {
        padding: 14px 21px;
        .minus {
          width: 16px;
          background: $dark;
          height: 2px;
        }
        .plus {
          width: 16px;
          background: $dark;
          height: 2px;
          position: relative;
          &::after {
            content: '';
            width: 2px;
            background: $dark;
            height: 16px;
            position: absolute;
            top: -7px;
            left: 7px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .list-item__title {
    display: none;
  }
  .list-item {
    flex-direction: column;
  }
  .list-item__info {
    margin-right: 20px;
  }
  .list-item__actions {
    margin: 0 auto;
  }
}
