@import 'styles/Variables';

.products {
  &-top {
    text-align: center;
    padding: 90px;
    &__title {
      font-size: $text-xl;
      font-weight: 700;
      margin-bottom: 20px;
    }
    &__subtitle {
      color: $gray;
      font-size: $text-sm;
      max-width: 600px;
      margin: 0 auto;
    }
  }
  &-list {
    &__title {
      font-size: $text-lg;
      font-weight: 700;
      display: flex;
      align-items: center;
      gap: 23px;
      span {
        color: $green;
        font-size: 16px;
        background: $light-gray;
        padding: 5px 16px;
        display: flex;
        align-items: center;
        border-radius: 20px;
      }
    }
  }
}
.error {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: $error;
}
